<!-- when wishlist empty -->
<div class="container mt-5 border p-5" *ngIf="eMsg">
    <div class="row  text-center">
        <div class="col">
            <img style="height: 300px;" src="https://cdn.dribbble.com/users/2059463/screenshots/4828452/polizas_gif.gif" alt="no image">
            <h3 class="mt-2">Your wishlist is empty</h3>
            <a routerLink="/" class="btn btn-primary mt-2 " >Add to wishlist</a>
        </div>

    </div>
</div>




<!-- Section-->
<section class="py-5" >
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">


            <div class="col mb-5 " *ngFor="let pro of wishList">
                <div class="card h-100 align-items-center p-4">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="pro.image" alt="No Image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{pro.title}}</h5>
                            <!-- Product price-->
                            $ {{pro.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                        <button (click)="deleteFromWish(pro)" style="float: left;" class="btn btn-outline-danger mt-auto me-5">
                            <i class="fa fa-trash"></i>
                        </button>
                        
                        <button (click)="addToCart(pro)" style="float: right;" class="btn btn-outline-success ">
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
